@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Varela Round', 'HelveticaNeue', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p,
a,
li,
span,
button {
  font-size: 1.7rem;
}

button {
  border: none;
  outline: none;
}

h3 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

#root {
  height: 100%;
}

@media (min-width: 992px) {
  button {
    font-size: 1.5rem;
  }
}
